.layout {
  // min-height: 100vh;
  // background-color: #fafbfc;
}

.layout-navbar {
  background-color: #fff;
}

.layout-concent {
  padding-bottom: 50px;
}

.layout-tabbar {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}